@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola!</h1>
    <p>Esta fue la consigna sobre la cual desarrollamos esta Aplicacion Web</p>
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vRCaCPbXqsJXpwvSnCZW4eKVDGNo7SAa7VZfbqR1J3GecNqbOBMs5w3jOrT16per0uAvSTBjLZmJosH/pub?embedded=true" width="800px" height="800px"></iframe>
</div>
